body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 15 00px !important;
  }
}


.App-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 8px 15px;
      border: 1px solid #868383;
    }

    .btn-signup {
      border-radius: 5px;
      margin-right: 15px;
      padding: 8px 15px;
      border: 1px solid #868383;
      background: #4e4a4a;
      color: white;

      &:hover {
        background-color: black;
      }
    }

    .navbar {
      padding-top: 20px;
      z-index: 10;
      // opacity: 0.6;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }

  .homepage-container {
    .homepage-content {
      padding: 100px;
      width: 50%;
      margin-top: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title1 {
        font-size: 45px;
        font-weight: 600;
      }

      .title2 {
        font-size: 25px;
      }

      .title3 {
        button {
          border-radius: 5px;
          padding: 8px 10px;
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}